DATABASE_URL=postgresql+asyncpg://postgres:testpass@db:5432/bookly
JWT_SECRET="hYW3L6I3gPpEUbtU+17FEHRYJuc8uLYHaLLsuzzyKn4="
JWT_ALGORITHM=HS256
REDIS_HOST=6379
REDIS_PORT=redis
REDIS_URL=redis://redis:6379/0
MAIL_USERNAME=lintingxuan666@gmail.com
MAIL_PASSWORD=hbtr nhtb hxli zwrn
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM=lintingxuan666@gmail.com
MAIL_FROM_NAME=Bookly
DOMAIN=localhost:8000 